#form {

}
  #passwordsFactory {

    width:750px;

    padding-top: 30px;
    margin-top: 30px;

    background-color:#ffbf00;
  }
  #header {
    margin-left: 230px;
    color: #0000b3;
  }
  #length1 {
    margin-left: 100px;
  }
  #length2 {
    width: 20px;
    border-color:#0000b3 ;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #special {
    margin-left: 100px;
  }
  #ok {
    margin-left: 20px;
    color: yellow;
    background-color:#0000b3;
    font-weight: bold;
  }

  #go {
    margin-left: 340px;
    margin-top: 20px;
    color: yellow;
font-weight: bold;
    background-color: #0000b3;
  }
  #output {
    border-color: #0000b3;
    margin-left: 240px;
    margin-bottom: 30px;

    font-size: 20px;
  }
